@model List<Gestor_De_Presupuesto.Models.ViewModels.ABMViewModels>

@{
    ViewBag.Title = "Gestor De Presupuesto";
}

<h2>ViewBag.Title</h2>

<div class="row">
    <div class="col-ad-12">
        <table>
            <tr>
                <th>Concept</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
                <th>Operations registered</th>
            </tr>
            @foreach (var pElemento in Model)
            {
        <tr>
            <td>@pElemento.Concept</td>
            <td>@pElemento.Amount</td>
            <td>@pElemento.Date</td>
            <td>@pElemento.Type</td>
            <td>@pElemento.Operations_registered</td>
        </tr>

            }
        </table>
    </div>

</div>