@model List<University.Models.TableViewModels.AdminTableTeacher>
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Teachers: </h2>

<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Active</th>
                <th>Dni</th>


            </tr>
            @foreach (var pElemento in Model)
            {

                <tr>
                    <td>@pElemento.Id</td>
                    <td>@pElemento.Name</td>
                    <td>@pElemento.Surname</td>
                    <td>@pElemento.Active</td>
                    <td>@pElemento.Dni</td>
                    <td>
                        <input onclick="jsDelete(@pElemento.Id)" value="Delete Teacher" type="button" name="Delete" class="btn btn-danger" />
                        <input onclick="document.location.href='@Url.Content("~/Teacher/Edit")'" value="Edit Teacher"type="button" name="Edit" class="btn btn-default" />
                    </td>


                </tr>
            }
        </table>
    </div>

</div>

<script>
    function() {

    }

</script>


